<form id="spices-custom-config">
    <h2>{{ localize "SWADESPICE.CustomTitle" }}</h2>
    {{#each settings_array}}
        <div class="form-group">
            <label>{{ this.name }}</label>
            <div class="form-fields">
                <input type="text" name="{{ this.id }}" value="{{ this.value }}"
                    {{#if this.use_color_picker}}is="colorpicker-input" data-responsive-color{{/if}}>
            {{# if this.use_file_picker }}{{ filePicker type="image" target=this.id }}{{/if}}
            </div>
            <p class="notes">{{ this.hint }}</p>
        </div>
    {{/each}}
    <div class="form-group">
        <button type="submit"><i class="far fa-save"></i>{{localize "SWADESPICE.Save"}}</button>
        <button class="spices-export" type="button"><i class="far fa-save"></i>{{localize "SWADESPICE.Export"}}</button>
        <button class="spices-import" type="button"><i class="fas fa-file-import"></i> {{ localize "SWADESPICE.Import" }} </button>
    </div>
</form>