<table class="spicyClass-item-table">
    <thead><tr>
        <th><i class="fas fa-star"></i></th><th>{{ tab.name }}</th><th>{{ localize "SWADESPICE.Actions" }}</th>
    </tr>
    {{# each tab.items }}
        <tr>
            <td><i class="fas fa-star"></i></td>
            <td class="spicyClass-cell-names">{{ this.name }}</td>
            <td class="spicyClass-cell-actions">
                <span class="spicyClass-clickable "><i class="fas fa-bolt"></i></span>
                <span class="spicyClass-clickable "><i class="fas fa-dice-d6"></i></span>
                <span class="spicyClass-clickable "><i class="fas fa-comment-alt"></i></span>
            </td>
        </tr>
    {{/each}}
    </thead>
</table>
