<div class="spicyClass-left-bar-logo">
</div>
<div class="spicyClass-left-bar-health">
    <div class="spicyClass-health-title">
      {{localize "SWADE.Wounds"}}
        <div>
            <input
                class = "spicyClass-health-input"
                type="number"
                name="data.wounds.value"
                value="{{data.data.wounds.value}}"/>
            /{{data.data.wounds.max}}
        </div>
    </div>
    <div class="spicyClass-health-title">
      {{localize "SWADE.Fatigue"}}
        <div>
            <input
                class = "spicyClass-health-input"
                type="number"
                name="data.fatigue.value"
                value="{{data.data.fatigue.value}}"/>
            /{{data.data.fatigue.max}}
        </div>
    </div>
</div>
<div class="spicyClass-status">
    <div>
        <label class="spicyClass-check-container">{{localize "SWADE.Shaken"}}</label>
        <input type="checkbox" name="data.status.isShaken" {{checked data.data.status.isShaken}} />
    </div>
    <div>
        <label class="spicyClass-check-container">{{localize "SWADE.Distr"}}</label>
        <input type="checkbox" name="data.status.isDistracted" {{checked data.data.status.isDistracted}} />
    </div>
    <div>
        <label class="spicyClass-check-container">{{localize "SWADE.Vuln"}}</label>
        <input type="checkbox" name="data.status.isVulnerable" {{checked data.data.status.isVulnerable}} />
    </div>
    <div>
        <label class="spicyClass-check-container">{{localize "SWADE.Stunned"}}</label>
        <input type="checkbox" name="data.status.isStunned" {{checked data.data.status.isStunned}} />
    </div>
    <div>
        <label class="spicyClass-check-container">{{localize "SWADE.Entangled"}}</label>
        <input type="checkbox" name="data.status.isEntangled" {{checked data.data.status.isEntangled}} />
    </div>
    <div>
        <label class="spicyClass-check-container">{{localize "SWADE.Bound"}}</label>
        <input type="checkbox" name="data.status.isBound" {{checked data.data.status.isBound}} />
    </div>
  </div>