<nav class="tabs spicyClass-navbar">
    <a data-tab="summary" class="spicyClass-icon spicyClass-icon-summary"
       title="{{localize "SWADESPICE.QuickAccess"}}"></a>
    <a data-tab="traits" class="spicyClass-icon spicyClass-icon-trait"
       title="{{localize "SWADESPICE.Traits"}}"></a>
    <a data-tab="edges" class="spicyClass-icon spicyClass-icon-edges"
       title="{{localize "SWADESPICE.Edges"}}"></a>
    <a data-tab="hindrances" class="spicyClass-icon spicyClass-icon-hindrance"
        title="{{localize "SWADESPICE.Hindrances"}}"></a>
    <a data-tab="abilities" class="spicyClass-icon spicyClass-icon-abilities"
       title="{{localize "SWADESPICE.Abilities"}}"></a>
    <a data-tab="inventory" class="spicyClass-icon spicyClass-icon-inventory"
       title="{{localize "SWADESPICE.Inventory"}}"></a>
    <a data-tab="powers" class="spicyClass-icon spicyClass-icon-powers"
       title="{{localize "SWADESPICE.Powers"}}"></a>
    <a data-tab="effects" class="spicyClass-icon spicyClass-icon-effects"
       title="{{localize "SWADESPICE.Effects"}}"></a>
    <a data-tab="description" class="spicyClass-icon spicyClass-icon-description"
       title="{{localize "SWADESPICE.Description"}}"></a>
</nav>
<main class="sheet-body">
    <section class="tab active" data-tab="summary">
        <h2>{{localize "SWADESPICE.QuickAccess"}}</h2>
    </section>
    <section class="tab spicyClass-tab" data-tab="traits">
        <h2>{{localize "SWADESPICE.Traits"}}</h2>
        <div class="spicyClass-tab-container">
            <div class="spicyClass-tab-column-left">
                {{> "modules/swade-spices/templates/itemTables.html" tab=spicytabs.trait.left }}
            </div>
            <div class="spicyClass-tab-column-right">
                {{> "modules/swade-spices/templates/itemTables.html" tab=spicytabs.trait.right }}
            </div>
        </div>
    </section>
    <section class="tab" data-tab="edges">
        <h2>{{localize "SWADESPICE.Edges"}}</h2>
    </section>
    <section class="tab" data-tab="hindrances">
        <h2>{{localize "SWADESPICE.Hindrances"}}</h2>
    </section>
    <section class="tab" data-tab="abilities">
        <h2>{{localize "SWADESPICE.Abilities"}}</h2>
    </section>
    <section class="tab" data-tab="inventory">
        <h2>{{localize "SWADESPICE.Inventory"}}</h2>
    </section>
    <section class="tab" data-tab="powers">
        <h2>{{localize "SWADESPICE.Powers"}}</h2>
    </section>
    <section class="tab" data-tab="effects">
        <h2>{{localize "SWADESPICE.Effects"}}</h2>
    </section>
    <section class="tab" data-tab="description">
        <h2>{{localize "SWADESPICE.Description"}}</h2>
        {{>"modules/swade-spices/templates/descriptionTab.html"}}
    </section>
</main>