:root {
    --spicy-left-bar-logo: url('/modules/swade-spices/assets/img/SW_LOGO_FP_2018.png');
	--spicy-left-bar-health-text-color: #8C0809;
	--spicy-left-bar-status-text-color: black;
	--spicy-checkbox-color: #6B6D6E;
	--spicy-checkmark-color: #8C0809;
}

.spicyClass-left-bar-logo {
	background-image: var(--spicy-left-bar-logo);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	grid-row: 1;
	grid-column: 1;
}

.spicyClass-left-bar-health {
	display: grid;
	font-weight: bold;
	font-size: 15pt;
	grid-row: 2;
	grid-template: minmax(0, 1fr) / repeat(2, minmax(0, 1fr));
}

.spicyClass-status {
	grid-column: 1;
	grid-row: 3/5;
	font-weight: bold;
}

.spicyClass-health-title{
	text-align: center;
	color: var(--spicy-left-bar-health-text-color);
}

input[type="number"].spicyClass-health-input {
	width: 2em;
	border: none;
	padding: 0px;
	color: var(--spicy-left-bar-health-text-color);
	background: none;
	font-weight: bold;
}

input[type="number"].spicyClass-health-input:hover {
	box-shadow: 0 0 5px red;
}

.spicyClass-status-container {
	width: 45%;
	display: inline-block;
}

.spicyClass-derived {
	grid-column: 1;
	grid-row: 5/8;
	display: grid;
	grid-template: 2em 2em 1fr 2em 1fr / 50% 50%;
}

.spicyClass-derived-title {
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
	color: var(--spicy-left-bar-health-text-color);
	grid-column: 1/3;
	grid-row: 1;
}

.spicyClass-derived-name {
	text-align: center;
}

.spicyClass-running-die {
    max-height: 28px;
    margin: 0 2px;
    padding: 0 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}