.spicyClass-name {
    grid-column: 1/4;
    grid-row: 1;
}

.spicyClass-img-zone {
    grid-column: 4/5;
    grid-row: 1/3;
    float: right;
}

.spicyClass-header-input input {
    grid-row: 2;
}

.spicyClass-header-input input::placeholder {
    color: var(--spicy-top-bar-charname-color);
    opacity: .5;
}